/* Begin with mobile first */

/*define button colors and backgroun-color variables*/
$btnTextColor: #fff;
$btnColor: #0483EE;
$bgColor: #040714;

/*paragraph and titles colors variables*/
$paraColors: #868686;
$titleColors: #f9f9f9;

/*max-width variable*/
$maxWidth: 100%;

/* import fonts here*/
@font-face {
  font-family: "Avenir-Roman-12";
  src: url("../fonts/Avenir-Roman-12.woff") format("woff");
}

html {
  font-size: 10px; // html element size to 10px;
  box-sizing: border-box;
  font-family: 'Avenir-Roman-12'; /* avenir roman 12 font added */
}

body {
  font-size: 1.6rem; // rem = root em, my root element(html) is equal to 10px = 1rem, so 1.6rem = 16px;
  background-color: $bgColor;
}


/* Navbar section */
header {
  color: #fff;
  width: 100%;

  nav {
    width: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: -ms-device-fixed;
    position: fixed;

    ul {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
      padding-left: 2rem;

      li {
        list-style-type: none;
        font-size: 1.5rem;
        letter-spacing: .17rem;
        padding: 1.1rem 0;
      }

      div.menuLiwrapper {
        text-align: right;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: right;
          list-style-type: none;
          font-size: 1.5rem;
          letter-spacing: .17rem;
          //padding: 1rem 0;
          a {
            text-align: right;
          }
        }

        div.liwrapper {
          width: 100%;
          position: fixed;
          bottom: 0;
          right: 0;
          left: 0;
          height: 8.5rem;
          background-color: rgba(19, 15, 15, 0.7);

          li:nth-child(1) {
            text-align: center;
            display: none;
            position: fixed;
            bottom: 1.6rem;
            right: 31%;
            left: 31%;
            border-radius: .5rem;
            padding: 1.65rem 1.5rem;
            background-color: $btnColor;
          }
        }

      }

      li:first-child {
        padding: 0;
      }

      .navLogo {
        width: 25%;
        display: none;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
      }


    }
  }

  //.fix {
  //  position: fixed;
  //  bottom: 0;
  //  right: 0;
  //  left: 0;
  //  border-radius: .5rem;
  //  padding: 1.15rem 1.5rem;
  //  margin-left: 5rem;
  //  background-color: $btnColor;
  //  margin-right: 2rem;
  //}
}


/* Main Section */
main {
  width: 100%;

  section {

    p {
      color: $paraColors;
      font-size: 1.45rem;
      line-height: 2.2rem;
    }

    h2, h3 {
      color: $titleColors;
      margin: 0;
    }
  }

}

/*First section 'Header' styles*/
#headerSection {
  background: url('../images/olp_hero_mobile_UKI_FR.jpg') no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 100%;
  height: 104vh;
  margin-bottom: 3rem;

  /* display flex for align contents inside my #header section*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: baseline;

  article.firstHeaderArticle {
    figure {
      margin: 0;
      margin-left: -1rem;
      width: 100%;

      .logoHeader {
        display: block;
        width: 60%;
        margin: auto;

      }

    }

    h1 {
      color: $titleColors;
      font-size: 2.2rem;
      margin-bottom: .8rem;
    }
  }

  div.wrapHeadArticles {

    article.subHeaderSection1, article.subHeaderSection2 {
      /*display flex for align items*/
      text-align: center;

      button.btnSectionHeader {
        font-size: 1.4rem;
        letter-spacing: .2rem;
        border: none;
        text-decoration: none;
        color: $btnTextColor;
        background-color: $btnColor;
        width: 100%;
        padding: 1.6rem 6rem;
        border-radius: .4rem;
      }

      p {
        margin-bottom: .5rem;
        margin-top: 0;
        font-size: 1.4rem;
      }

      h2 {

        span {
          color: $paraColors;
          font-size: 1.4rem;

        }
      }

    }

    article.subHeaderSection1 {
      padding-bottom: 1.5rem;
      border-bottom: .3px solid #444343;
    }

    article.subHeaderSection2 {
      h2 {
        margin: 1.5rem 0 0 0;
      }

      button.btn_01 {
        padding: 1.6rem 4.5rem;
      }
    }

  }

  article.subLastArticle {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p.subArticlePara {
      font-weight: 900;
      font-size: 1rem;
      margin-top: 3rem;
    }

    figure {

      img.disneyFranchiseImage {
        max-width: $maxWidth;
        display: none;
      }

      img.arrowRate {
        width: 1.8rem;
        margin-top: 2rem;
      }
    }
  }
}

/*Second section styles with 'Divertissement' id */
#divertissement {

  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 4.5rem;

  figure {
    padding-top: 1.5rem;

    img.imgDynamicContent {
      max-width: $maxWidth;
      display: block;
      margin: auto;
    }
  }

  h2 {
    text-align: center;
  }

  p {
    margin-left: 10%;
    margin-right: 10%
  }
}

/* Third Section styles width 'regarderOuQuand' id */

#regarderOuQuand {

  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 4.5rem;

  figure {
    padding-top: 1.5rem;

    img.olpSide {
      max-width: $maxWidth;
      display: block;
      margin: auto;
    }
  }

  h2 {
    text-align: center;
  }

  p {
    margin-left: 5%;
    margin-right: 5%
  }
}

/* Fourth Section styles with 'nouveautes' id */

#nouveautes {

  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 4.5rem;

  figure {
    padding-top: 1.5rem;

    img.frOlpOriginals {
      width: $maxWidth;
      display: block;
      margin: auto;
    }
  }

  h2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
  }

  p {
    margin-left: 7%;
    margin-right: 7%
  }
}

/* Fifth section styles with 'telecharger' id */
#telecharger {


  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 5.5rem;

  figure {
    padding-top: 1.5rem;

    img.olpSideAvatar {
      max-width: $maxWidth;
      display: block;
      margin: auto;
    }
  }

  h2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
  }

  p {
    margin-left: 5%;
    margin-right: 5%
  }

}

/*Sixth section styles with 'accessibilite' id*/
#accessibilite {
  width: 100%;
  padding-top: 4.8rem;

  div.accessTitle {
    h2 {
      text-align: center;
      font-size: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  div.accesWrap {

    display: flex;
    flex-wrap: wrap;

    figure {
      margin: 0;

      img.deviceGroupImg {
        max-width: $maxWidth;
      }

    }

    article {
      width: 50%;

      section.accesbilityFeatures {
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 1.4rem;
          margin-top: 10px;
        }
      }

      span {
        color: $paraColors;
      }
    }
  }
}


/* My footer style begin here*/
footer {

  figure {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;

    img.imgLogoFooter {
      width: 14%;
    }
  }

  nav {
    margin-left: 5%;
    margin-right: 5%;

    ul {
      padding: 0;
      height: 15rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;


      li {
        list-style: none;
        margin-left: 2rem;
        line-height: 2rem;

        select {
          background: none;
          color: $paraColors;
          border: none;
          font-size: 1rem;
        }

        select::before {
          content: "&#127760;";
          color: #fff;
        }

        a {
          text-decoration: none;
          color: $paraColors;
          font-size: 1.2rem;
        }
      }
    }
  }

  p {
    color: $paraColors;
    font-size: 1.2rem;
    text-align: center;

  }
}
