/* responsive for Desktop*/
/*define button colors and backgroun-color variables*/
/*paragraph and titles colors variables*/
/*max-width variable*/
@media screen and (min-width: 769px) {
  /* Navbar section */
  header {
    color: #fff;
    width: 100%; }
    header nav {
      width: 100%; }
      header nav ul {
        width: 100%; }
        header nav ul div.menuLiwrapper {
          width: 60%;
          display: flex;
          justify-content: flex-end; }
          header nav ul div.menuLiwrapper li {
            list-style-type: none;
            font-size: 1.5rem;
            letter-spacing: .17rem; }
          header nav ul div.menuLiwrapper li:nth-child(2) {
            display: initial;
            border: 1px solid #f9f9f9;
            background-color: rgba(19, 15, 15, 0.5);
            padding: 1.15rem 1.5rem;
            border-radius: .5rem;
            margin-right: 5rem; }
          header nav ul div.menuLiwrapper div.liwrapper {
            position: initial;
            width: 100%;
            height: initial;
            background-color: transparent;
            margin-top: 1rem; }
            header nav ul div.menuLiwrapper div.liwrapper li:nth-child(1) {
              border-radius: .5rem;
              padding: 1.15rem 1.5rem;
              margin-left: 5rem;
              background-color: #0483EE;
              margin-right: 2rem;
              position: initial; }
        header nav ul li:first-child {
          padding: 0;
          text-align: left; }
        header nav ul .navLogo {
          width: 25%;
          display: none; }

  /*First section 'Header' styles*/
  #headerSection {
    background: url("../images/olp_hero_desktop_UKI_FR.jpg") no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    #headerSection article.firstHeaderArticle {
      margin-left: 7rem;
      margin-bottom: 2rem; }
      #headerSection article.firstHeaderArticle figure img.logoHeader {
        width: 35%;
        padding-left: 0;
        margin: initial; }
      #headerSection article.firstHeaderArticle h1 {
        font-size: 4rem;
        margin-bottom: initial; }
    #headerSection div.wrapHeadArticles {
      display: flex; }
      #headerSection div.wrapHeadArticles article.subHeaderSection1, #headerSection div.wrapHeadArticles article.subHeaderSection2 {
        text-align: initial;
        margin-left: 7rem;
        padding-bottom: 0;
        border-bottom: none; }
        #headerSection div.wrapHeadArticles article.subHeaderSection1 p, #headerSection div.wrapHeadArticles article.subHeaderSection2 p {
          padding-bottom: 2rem; }
        #headerSection div.wrapHeadArticles article.subHeaderSection1 button.btnSectionHeader, #headerSection div.wrapHeadArticles article.subHeaderSection2 button.btnSectionHeader {
          font-size: 1.6rem;
          letter-spacing: .2rem;
          border: none;
          text-decoration: none;
          color: #fff;
          background-color: #0483EE;
          padding: 1.8rem 2rem;
          border-radius: .4rem; }
        #headerSection div.wrapHeadArticles article.subHeaderSection1 h2, #headerSection div.wrapHeadArticles article.subHeaderSection2 h2 {
          text-align: initial;
          margin: 0; }
      #headerSection div.wrapHeadArticles article.subHeaderSection2 {
        align-self: flex-end;
        margin-left: 2.8rem; }
    #headerSection article.subLastArticle p.subArticlePara {
      width: 48%;
      text-align: left;
      margin-left: 7rem;
      margin-top: 2rem;
      margin-bottom: 10rem;
      font-size: .75em; }
    #headerSection article.subLastArticle figure {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-left: 6rem; }
      #headerSection article.subLastArticle figure img.disneyFranchiseImage {
        width: 42%;
        display: initial; }
      #headerSection article.subLastArticle figure img.arrowRate {
        width: 2.8rem;
        height: 1.5rem; }

  /* main styles here */
  main section p {
    font-size: 2rem; }

  /*Second section styles with 'Divertissement' id */
  #divertissement {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #divertissement figure {
      padding-top: 1.5rem; }
      #divertissement figure img.imgDynamicContent {
        max-width: 100%;
        display: block;
        margin: auto; }
    #divertissement article h2 {
      font-size: 3rem; }
    #divertissement article.divertSubSec {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      #divertissement article.divertSubSec p {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        line-height: 3rem; }

  /*Second section styles with 'regarderOuQuand' id */
  #regarderOuQuand {
    text-align: center;
    display: flex;
    flex-direction: row-reverse; }
    #regarderOuQuand figure {
      padding-top: 1.5rem; }
      #regarderOuQuand figure img.olpSide {
        max-width: 100%;
        display: block;
        margin: auto; }
    #regarderOuQuand article.regarderSubSec {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap; }
      #regarderOuQuand article.regarderSubSec h2 {
        font-size: 3rem;
        padding-left: 8rem;
        text-align: initial; }
      #regarderOuQuand article.regarderSubSec p {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 8rem;
        line-height: 3rem; }

  /*Second section styles with 'Nouveautes' id */
  #nouveautes {
    text-align: center;
    display: flex;
    flex-direction: row; }
    #nouveautes figure {
      padding-top: 1.5rem; }
      #nouveautes figure img.frOlpOriginals {
        max-width: 100%;
        display: block;
        margin: auto; }
    #nouveautes article.nouveautesSubSec {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      #nouveautes article.nouveautesSubSec p {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        line-height: 3rem; }
      #nouveautes article.nouveautesSubSec h2 {
        text-align: initial;
        font-size: 3rem;
        margin-right: 0;
        margin-left: 0; }

  /*Second section styles with 'regarderOuQuand' id */
  #telecharger {
    text-align: center;
    display: flex;
    flex-direction: row-reverse; }
    #telecharger figure {
      padding-top: 1.5rem; }
      #telecharger figure img.olpSideAvatar {
        max-width: 100%;
        display: block;
        margin: auto; }
    #telecharger article.telechargerSubSec {
      max-width: 47%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap; }
      #telecharger article.telechargerSubSec h2 {
        font-size: 3rem;
        text-align: initial; }
      #telecharger article.telechargerSubSec p {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 5rem;
        line-height: 3rem; }

  /*Sixth section styles with 'accessibilite' id*/
  #accessibilite {
    width: 100%; }
    #accessibilite div.accessTitle {
      display: flex;
      justify-content: center; }
      #accessibilite div.accessTitle h2 {
        font-size: 4rem;
        padding: 0; }
    #accessibilite div.accesWrap {
      display: flex;
      flex-wrap: wrap;
      padding: 3rem; }
      #accessibilite div.accesWrap figure {
        margin: 0; }
        #accessibilite div.accesWrap figure img.deviceGroupImg {
          max-width: 100%; }
      #accessibilite div.accesWrap article {
        width: 25%; }
        #accessibilite div.accesWrap article section.accesbilityFeatures {
          height: 20rem;
          display: flex;
          flex-direction: column;
          align-items: center; }
          #accessibilite div.accesWrap article section.accesbilityFeatures h3 {
            padding: 2rem;
            font-size: 2.2rem; }
          #accessibilite div.accesWrap article section.accesbilityFeatures span {
            font-size: 1.4rem;
            margin-top: 10px; }
        #accessibilite div.accesWrap article span {
          color: #868686; }

  /* My footer style begin here*/
  footer nav {
    margin-left: 0;
    margin-right: 0; }
    footer nav ul {
      height: 8rem; }
  footer figure {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0; }
    footer figure img.imgLogoFooter {
      width: 10rem; }
  footer p {
    text-align: center;
    color: #868686;
    font-size: 1.3rem; }

  /* End of media queries */ }

/*# sourceMappingURL=responsive.css.map */
